[submodule "ThirdParty/gflags"]
	path = ThirdParty/gflags
	url = git@github.com:Blubmin/gflags.git
[submodule "ThirdParty/Ceres"]
	path = ThirdParty/Ceres
	url = git@github.com:ceres-solver/ceres-solver.git
[submodule "ThirdParty/glog"]
	path = ThirdParty/glog
	url = git@github.com:Blubmin/glog.git
