[submodule "ThirdParty/Ceres"]
	path = ThirdParty/Ceres
	url = git@github.com:ceres-solver/ceres-solver.git
[submodule "ThirdParty/glob"]
	path = ThirdParty/glog
	url = https://github.com/Blubmin/glog
